.error_page {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 80%;
	margin: 0 auto;

	font-family: Roboto, sans-serif;

	max-height: 100vh;
}
.error_page img {
	width: 50%;
	height: 50%;
}
.lost {
	display: flex;
	flex-direction: column;
	justify-content: center;

	align-items: center;
	text-align: center;

	width: 30vw;
}

.button {
	width: 20rem;
	height: 4rem;
	background-color: #f90f15;
	border-radius: 2rem;
	color: #fff;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button:active {
	background-color: #f90f15;
}

@media only screen and (max-width: 768px) {
	.error_page {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		height: 80vh;
		text-align: center;

		width: 100%;
	}

	.error_page img {
		width: 100%;
		margin-bottom: 0;
	}

	.lost h1 {
		font-size: 3rem;
		margin-bottom: 0;
	}
	.lost h3 {
		font-size: 1.2rem;
		width: 95vw;
	}
}
